.sponsors-list {
    display: flex;
    flex-direction: column;
    gap: 2em;
    height: 100vh;
    border-radius: 4.499px;
    padding: 2em;
    // background: #FFf;
    // margin: 2em;
    // border-radius: 15px;
    // box-shadow: 0 0 20px rgba(8,21,66,0.05);
    .header {
        button.primary-button {
            background-color: #00365c;
            border: none;
            border-radius: 6px;
            color: #FFF;
            padding: 10px 15px;
        }
    }
}