<div class="sidebar">
    <div class="header">
        <img src="assets/sponsor.png" alt="">
        <span>Sponsors Management</span>
    </div>
    <ul class="list-unstyled">
        <li>
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>
                <img src="assets/tasks.png" alt="">
                <span>Sponsors List</span>
            </a>
        </li>
        <li>
            <a routerLink="/create" routerLinkActive="active">
                <img src="assets/plus.png" alt="">
                <span>Sponsors Creation</span>
            </a>
        </li>
    </ul>
</div>